<form action="" [formGroup]="form">

  <ngx-input
    name="simplyInput"
    label="simplyInput"
    placeholder="simplyInput"
    formControlName="simplyInput">
  </ngx-input>

  <ngx-textarea
    name="simplyTextarea"
    label="simplyTextarea"
    placeholder="simplyTextarea"
    formControlName="simplyTextarea">
  </ngx-textarea>

  <ngx-textarea
    class="warn"
    name="simplyTextarea"
    label="simplyTextarea"
    placeholder="simplyTextarea"
    formControlName="simplyTextarea">
  </ngx-textarea>

</form>
